
body{
    margin: 0;
    padding: 0;

}
.navbar-brand img{
    width: 60px;
    height: 40px;
    border-radius: 10px;
}
.navbar-text{
    color: rgb(165, 81, 81);
}
.section1{
    background-image: url(img/carosel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 560px;

}
.section1 h1 {
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: -0.304762px;
    color: rgb(238, 238, 238);
    padding-top: 70px;
}
.section1 p{
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.304762px;
    color: rgb(238, 238, 238);
    margin-top: 10px;
    
}
.TopFooter{
    background-color: rgb(238, 238, 238);
    box-shadow: 0px 3px 4px rgba(153, 155, 168, 0.15);
    border-radius: 8px;
    max-width: 945px;
    height: 50px;
    position: absolute;
    margin: 0 px auto;
    bottom: -0px;
    left: 50%;
    z-index: 99;
    width: 98%;
    transform: translateX(-50%) ;
    
    
  

}
.TopFooter p{
    color: grey;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    margin-right: 20px;
    margin-top: 10px;
    letter-spacing: -0.1px;
    color: rgb(14, 13, 13);
    

}
.from-select{
    font-weight: 700;
    font-size: 14 px;
    line-height: 21px;
    letter-spacing: -0.1px;
    color: rgb(202, 191, 191);
    border: none !important;
    margin-top: -15px;
    

}
.withoutp{
    margin-top: 40px;

}
.HeaderButton{
    background: #7963F0;
    border-radius: 10px;
    margin-bottom: 35px;
}
.section2{
    margin-top: 120px;
    margin-bottom: 10px;
   
}
.section2 .col-md-2:hover {
    color: #7963F0;
    background-color: #8293ff;
    color: white;
    transition: all 0.25s ease-in;
    transform: scale(1.05);
    border: 1px solid rgba(130, 147, 255, 0.5);
    box-shadow: 0 8px 12px 0 rgba(0,0,0, 0.5);
}

.section3 h3{
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.1px;
    color: black;
    text-align: center;
    margin-bottom: 70px;
    margin-top: 40px;
    

}
.section3 h3:hover{
    color: #7963F0;
    background-color: #8293ff;
    color: white;
    transition: all 0.25s ease-in;
    transform: scale(1.05);
    border: 1px solid rgba(130, 147, 255, 0.5);
    box-shadow: 0 8px 12px 0 rgba(0,0,0, 0.5);
}
.section3 h5{
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #0D0A19;
    margin-top: 10px;
    text-align: center;
}
.section3 p{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.1px;
    color: #9a959a;
    text-align: center;
}
.section3 img{
    border-radius: 8px;
}
.Button1{
    background-color: aliceblue;
    color: #7963F0 !important;
    border-radius: 8px !important;
    font-weight: 500 !important;
    font-size: normal !important;
    text-align: center;
    line-height: 21px;
    letter-spacing: -0.1px;
}
.card{
    border: none;
}

.FinecardHeader{
    width: 98%;
    height: 60px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 70px;
}
.section4{
    margin-top: 100px;
    margin-bottom: 100px;
}
.Finecar{
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.1px;
    color: #0D0A19;

}
.arroarea{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    text-align: right;
    color: #9A9EA7;
}
header p span{
    margin: 0px 5px;
    width: 30px;
    height: 30px;

}
.arroarea{
    margin-top: 15px;
}
.arroarea img{
    background-color: #F5F6F7;
    border-radius: 10px;
    padding: 10px !important;
}
.senden{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    text-align: right;
    color: #9A9EA7;
}
.Product {
    left: 0px;
    position: relative;
    border-radius: 20px;
    margin: 0 20px 50px 0px;
    min-width: 50%;
    left: 0px;
    transition: 0.5s;
}
.btn-btn-find{
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #9A9EA7;
    border: none;
    background: none;
}
.active{
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #000000;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #EEEEEE;
    padding-left: 25px;
    padding-right: 25px;
}
.find-nav h3{
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.1px;
    color: #0D0A19;
}
.populerp{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.1px;
    color: #9A9EA7;
}
.finditem{
    margin-bottom: 25px;
}

.finditem img{
    width: 30px;
    height: 30px;
}
.bal{
    font-size: 20px;
    font-weight: 400;
}
.finditem1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
    
}

.bal1{
    right: 10px;
}
.section5{
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #f3f1f3;
}
.footerp{
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: -0.1px;
    color: #030303;
}
.roolc p{
    color: gray;
}
footer p{
    text-align: center;
    color: grey;
}




@media(max-width:768px){
    .section1 h1{
        font-size: 38px;
    }
    .section1 p{
        font-size: 16px;
    }
    .TopFooter{
        height: 100px;
        margin-bottom: -150px !important;
    }
    .HeaderButton{
        width:100%;
    }
    .section2{
        margin-top: 350px;
        margin-bottom: 10px;
       
    }
    .Product{
        min-width: 127%;

    }
    .find-section h3{
        text-align: center;
    }
    .bins{
        margin-top: 60px;
    }
    .footer{
        text-align: center;
    }
    .populerp1{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .populerp1{
        font-weight: 700;
        font-size: 20px;
        line-height: 21px;
        letter-spacing: -0.1px;
        color: #030303;
    
    }
} 